<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="container-fluid">
    <header th:fragment="header">
        <nav class="navbar navbar-expand-lg bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/}">Trang chủ</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" th:href="@{/accessory}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Link kiện
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" th:href="@{/accessory}">Danh sách linh kiện </a></li>
                                <li><a class="dropdown-item" th:href="@{/accessory/import}">Nhập linh kiện</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/service}">Dịch vụ</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" th:href="@{/supplier}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Nhà cung cấp
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" th:href="@{/supplier}">Danh sách nhà cung cấp</a></li>
                                <li><a class="dropdown-item" th:href="@{/supplier/order-invoice}">Công nợ</a></li>
<!--                                <li><hr class="dropdown-divider"></li>-->
<!--                                <li><a class="dropdown-item" href="#">Something else here</a></li>-->
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 profile-menu">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span>Đỗ Hoàng Quân</span>
                                <div class="profile-pic">
                                    <img th:src="@{/image/default_avatar.png}" alt="Profile Picture">
                                </div>
                                <!-- You can also use icon as follows: -->
                                <!--  <i class="fa s fa-user"></i> -->
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#"><i class="fas fa-sliders-h fa-fw"></i>Trang cá nhân</a></li>
                                <li><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt fa-fw"></i>Đăng xuất</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</body>
</html>