::-webkit-scrollbar {
  display: none;
}

main {
  height: -webkit-fill-available;
  min-height: 100vh;
}

.b-example-divider {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, .05);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

/* Profile Picture */
.profile-pic{
   display: inline-block;
   vertical-align: middle;
   width: 45px;
   height: 45px;
   overflow: hidden;
   border-radius: 50%;
}

.profile-pic img{
   width: 100%;
   height: auto;
   object-fit: cover;
}
.profile-menu .dropdown-menu {
  right: 0;
  left: unset;
}
.profile-menu .fa-fw {
  margin-right: 10px;
}

.toggle-change::after {
  border-top: 0;
  border-bottom: 0.3em solid;
}

nav a.nav-link , nav a.navbar-brand{
  text-transform: uppercase;
  font-weight: bold;
  font-size: large;
  color: white;
}

nav button.navbar-toggler {
  background-color: white;
}

th {
    background-color: var(--bs-success) !important;
    color: var(--bs-light) !important;
}

tbody tr td {
  background-color: transparent !important;
}

tbody tr:hover {
  background-color: var(--bs-info);
}

td img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.modal-btn {
    position: absolute;
    bottom: 24px;
    right: 24px
}